body{
  background-color: hsl(44, 88%, 97%);
}
main {
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  line-height: 2rem;
  margin: auto;
  max-width: 60ch;
  font-size: 22px;
  padding: 2rem;
  background-color: hsl(44, 88%, 97%);
  color:	hsl(0, 9%, 18%);
 
}

/*about me main heading*/
h1{
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  font-weight:bold;
  line-height: 3rem;
  color:hsl(195, 100%, 35%);
}
/*'Hi I'm...' Heading*/
h2,h3,h4,h5,h6{
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  font-weight:bold;
  line-height: 3rem;
  color: 	hsl(0, 9%, 18%);
}


em{
  font-weight:200;
}

/*remove  bullets*/
ul{
  list-style-type: none;
  width: fit-content;
}

/*button styles*/
.button {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  font-weight:bold;
  background-color: hsl(44, 88%, 97%);
  border-style: solid;
  border-color:	hsl(0, 94%, 36%);
  color: 	hsl(0, 94%, 36%);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  margin: 1rem;
  display:block;
  width: fit-content;
}

/* Hover state */
a:hover {
  background-color:	hsl(0, 94%, 36%);
  color:hsl(44, 88%, 97%);
  font-weight:bold;

}

/*
a:active {
  background-color:hsl(195, 100%, 35%);
  color:hsl(44, 88%, 97%);
  border-color:	hsl(50, 94%, 49%);
  border-style:dotted;
  
}